* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #000;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 500px;

    padding: 40px;
}

.logo {
    display: block;
    margin: 0 auto 40px;
    width: 220px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 10px;

    background: #e7e3b3;
    color: #000;

    font-size: 16px;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;

    top: 50%;
    right: 15px;

    transform: translateY(-50%);

    background: transparent;
    border: none;

    cursor: pointer;
    font-size: 18px;
}

.forgot-password {
    text-align: right;
    color: #bdbdbd;
    text-decoration: none;
}

.login-button {
    background: #d11c1c;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 18px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

.login-button:hover {
    opacity: 0.9;
}

.register-text {
    margin-top: 25px;
    text-align: center;
    color: #aaa;
}

.register-text a {
    color: #2d7eff;
    text-decoration: none;
}